<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PERTUBUHAN KESELAMATAN SOSIAL</title>
<style>
$myCSS$
</style>
<!-- <link rel="stylesheet" type="text/css" href="../../css/registrationCSS.css"> -->
</head>
<body>

$declareHeader$
    
    <table class="minheight800" cellpadding="0px">
        
        <tr>
            <td>
                <table width="100%" border="0" align="center" style="padding-left: 0px; padding-right: 0px;">
                    
                    <tr>
                        <td class="leftPanel"></td>
                        <td class="midPanel">
                            <table width="100%" border="0" align="center">
                                <tr>
                                    <td class="rightTopReferenceSectionLeftPanel">
                                    </td>
                                    <td class="rightTopReferenceSectionMidPanel">
                                    </td>
                                    <td class="rightTopReferenceSectionRightPanel">
                                        <table class="titleFontArial10NoBold rightTopReferenceSection">
                                            <tr>
                                                <td class="rightTopReferenceSectionTable1stTd"><span>Rujukan Tuan</span></td>
                                                <td class="rightTopReferenceSectionTable2ndTd"><span>: $refNoYour$</span></td>
                                            </tr>
                                            <tr>
                                                <td class="rightTopReferenceSectionTable1stTd"><span>Rujukan Kami</span></td>
                                                <td class="rightTopReferenceSectionTable2ndTd"><span>: $refNoOur$</span></td>
                                            </tr>
                                            <tr>
                                                <td class="rightTopReferenceSectionTable1stTd"><span>Tarikh</span></td>
                                                <td class="rightTopReferenceSectionTable2ndTd"><span>: $receiveDate$</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="rightPanel"></td>
                    </tr>
                    <tr>
                        <td class="leftPanel"><span>&nbsp;</span></td>
                        <td class="midPanel titleFontArial11"><span>KELULUSAN</span></td>
                        <td class="rightPanel"></td>
                    </tr>
                    <tr>
                        <td class="leftPanel"><span>&nbsp;</span></td>
                        $employerAddressWithName$
                        <td class="rightPanel"></td>
                    </tr>
                    <tr>
                        <td class="leftPanel"><span>&nbsp;</span></td>
                        <td class="midPanel titleFontArial11NoBold"><span>Tuan,</span></td>
                        <td class="rightPanel"></td>
                    </tr>
                    <tr>
                        <td class="leftPanel"><span>&nbsp;</span></td>
                        <td class="midPanel titleFontArial11">
                            <span>PENDAFTARAN PERUSAHAAN DI BAWAH AKTA KESELAMATAN SOSIAL PEKERJA 1969</span>
                        </td>
                        <td class="rightPanel"></td>
                    </tr>
                    <tr>
                        <td class="leftPanel"><span>&nbsp;</span></td>
                        <td class="midPanel titleFontArial11NoBold">
                            <span>Dengan hormatnya perkara di atas adalah dirujuk.</span>
                        </td>
                        <td class="rightPanel"></td>
                    </tr>
                    <tr>
                        <td class="leftPanel"><span>&nbsp;</span></td>
                        <td class="midPanel titleFontArial11NoBold">
                            <span>2.&nbsp;&nbsp;&nbsp;Dimaklumkan bahawa NS3 telah menerima permohonan pendaftaran perusahaan tuan pada $receiveDate$.</span>
                        </td>
                        <td class="rightPanel"></td>
                    </tr>
                    <tr>
                        <td class="leftPanel"><span>&nbsp;</span></td>
                        <td class="midPanel titleFontArial11NoBold">
                            <span>3.&nbsp;&nbsp;&nbsp;Dukacita dimaklumkan bahawa pendaftaran perusahaan tuan </span>
                            <span class="titleFontArial11">TIDAK DILULUSKAN </span>
                            <span class="titleFontArial11NoBold">atas alasan berikut :-</span>
                        </td>
                        <td class="rightPanel"></td>
                    </tr>
                    <tr style="margin: 0; padding: 0;">
                        <td colspan="3" width="100%">
                            <table width="100%" border="0" align="center" style="margin: 0; padding: 0;">
                                <tr>
                                    <td width="10.5%">&nbsp;</td>
                                    <td>
                                        <table width="100%" border="1" vertical-align="text-top" style="margin: 0; padding: 1px;">
                                            <tr class="titleFontArial11NoBold">
                                                <td width="5%"><span>Bil</span></td>
                                                <td width="20%"><span>Nama</span></td>
                                                <td width="25%"><span>No. Pendaftaran Perniagaan</span></td>
                                                <td width="50%"><span>Alasan</span></td>
                                            </tr>
                                            $employerList$
                                        </table>
                                    </td>
                                    <td width="11%">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="leftPanel"><span>&nbsp;</span></td>
                        <td class="midPanel titleFontArial11NoBold">
                            <span>4.&nbsp;&nbsp;&nbsp;Sekiranya perusahaan tuan telah memenuhi syarat-syarat pendaftaran di bawah Akta ini, tuan adalah dikehendaki membuat pendaftaran sebagai majikan di mana-mana pejabat NS3 yang berhampiran.</span>
                        </td>
                        <td class="rightPanel"></td>
                    </tr>
                    <tr>
                        <td class="leftPanel"><span>&nbsp;</span></td>
                        <td class="midPanel titleFontArial11NoBold">
                            <span>5.&nbsp;&nbsp;&nbsp;Sebarang pertanyaan lanjut, sila berhubung dengan pejabat ini dengan menggunakan talian seperti di atas atau hadir sendiri di mana-mana pejabat NS3 yang berhampiran.</span>
                        </td>
                        <td class="rightPanel"></td>
                    </tr>
                    <tr>
                        <td class="leftPanel"><span>&nbsp;</span></td>
                        <td class="midPanel titleFontArial11NoBold"><span>Sekian, terima kasih.</span></td>
                        <td class="rightPanel"></td>
                    </tr>
                    <tr>
                        <td><span>&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td class="leftPanel"><span>&nbsp;</span></td>
                        <td class="midPanel titleFontArial11"><span>“BERKHIDMAT UNTUK NEGARA”</span></td>
                        <td class="rightPanel"></td>
                    </tr>
                    <tr>
                        <td class="leftPanel"><span>&nbsp;</span></td>
                        <td class="midPanel titleFontArial11NoBold italic"><span>$tagline$</span></td>
                        <td class="rightPanel"></td>
                    </tr>
                    <tr>
                        <td class="leftPanel"><span>&nbsp;</span></td>
                        <td class="midPanel titleFontArial11NoBold"><span>$letterPhrase$</span></td>
                        <td class="rightPanel"></td>
                    </tr>
                    <tr>
                        <td><span>&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td class="leftPanel"><span>&nbsp;</span></td>
                        <td class="midPanel titleFontArial11NoBold">
                            <span>$idStaff$</span><br />
                            <span>$branchTitleWithState$</span><br />
                            <span>$branchName$</span>
                        </td>
                        <td class="rightPanel"></td>
                    </tr>
                    
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" align="center" class="thisLetterCompPrintedWithoutSignature">
                    <tr>
                        <td><span>&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td><span>&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td><span>&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td class="leftPanel"></td>
                        <td colspan="3" class="midPanel titleFontArial9NoBold italic" align="center">
                            <span>“Surat ini adalah cetakan komputer dan tidak memerlukan tandatangan”</span>
                        </td>
                        <td class="rightPanel"></td>
                    </tr>
                    <tr>
                        <td><span>&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td><span>&nbsp;</span></td>
                    </tr>
                    $isCcNeeded$
                    <tr>
                        <td><span>&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td><span>&nbsp;</span></td>
                    </tr>
                    <tr>
                        <td class="leftPanel"><span>&nbsp;</span></td>
                        <td colspan="3" class="midPanel titleFontArial11NoBold" align="center">
                            <span>$moto$</span>
                        </td>
                        <td class="rightPanel"></td>
                    </tr>

                </table>

            </td>
        </tr>
        
    </table>
    
</body>
</html>
