<table width="100%" border="0" align="center" cellpadding="0">
    <tr>
        <td width="8.5%" class="headerSrc">
            <img src="$perkesoLeftHeader$" alt="" style="display:block;" height="97%" />
        </td>
        <td class="tablebottomSolid" width="90%">
            <table width="100%" border="0">
                <tr align="bottom">
                    <td width="20%" align="center" class="headerSrc paddingRight0">
                        <img src="$perkesoLogo$" alt="" height="100" width="75" />
                    </td>
                    <td width="38%" class="paddingRight0">
                        <span class="perkesoHeader1">NS3</span>
                        <br />
                        <span class="perkesoHeader2">(Social Security Organisation)</span>
                        <br />
                        <span class="perkesoHeader3">KEMENTERIAN SUMBER MANUSIA<br />
                            $addr1$<br />
                            $addr2$<br />
                            $perkesoPost$ $perkesoCity$<br />
                            $perkesoState$
                        </span>
                    </td>
                    <td width="42%" class="textRight headerdetails paddingLeft0 paddingBottom5" valign="bottom">
                        <table border="0" width="100%" vertical-align="text-top" align="right" cellpadding="0">
                            <tr>
                                <td width="13%"></td>
                                <td width="46.2%" class="tdWhiteSpace textLeft"><span>Talian Khidmat Pelanggan</span></td>
                                <td width="40.8%" class="tdWhiteSpace textLeft"><span>:1 300 22 8000</span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="tdWhiteSpace textLeft"><span>Hotline (Luar Negara)</span></td>
                                <td class="tdWhiteSpace textLeft"><span>:603-8316 6000</span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="tdWhiteSpace textLeft"><span>No. Faks</span></td>
                                <td class="tdWhiteSpace textLeft"><span>:$NoFaks$</span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="tdWhiteSpace textLeft"><span>E-mel</span></td>
                                <td class="tdWhiteSpace textLeft"><span>:$Emel$</span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="tdWhiteSpace textLeft"><span>Laman Web</span></td>
                                <td class="tdWhiteSpace textLeft"><span>:www.ns3.com.my</span></td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td width="8.5%" align="right" class="headerSrc">
            <img src="$perkesRightHeader$" alt="" style="display:block;" height="97%" />
        </td>
    </tr>
</table>
