<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style>
        $myCSS$
    </style>
</head>
<body>
	<table width="100%" class="sst-letter-header" style="margin-bottom: 0; padding-bottom: 0;">
		<tr>
			<td width="8%"></td>
			<td width="84%">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td width="20%" style="vertical-align: top;">
							<img src="$nationalEmblem$" alt="" width="70" height="80" class="sst-letter-emblem" />
						</td>
						<td width="60%" style="vertical-align: top;">
							<span class="times-new-roman" style="font-size: 10pt;">
								<b>JABATAN KASTAM DIRAJA MALAYSIA</b><br />
								IBU PEJABAT KASTAM DIRAJA MALAYSIA,<br />
								CAWANGAN PENGUATKUASAAN PENDAFTARAN SST,<br />
								ARAS 4, BLOK A, MENARA TULUS,<br />
								NO.22, PERSIARAN PERDANA, PRESINT 3,<br />
								61200 PUTRAJAYA.<br />
							</span>
						</td>
						<td width="20%" style="vertical-align: top; text-align: right;">
							<img src="$customLogo$" alt="" width="65" height="65" class="sst-letter-customs-logo" />
						</td>
					</tr>
				</table>
			</td>
			<td width="8%"></td>
		</tr>
	</table>
	<table width="100%" class="sst-letter-contact-section" style="margin-top: 0; padding-top: 0;">
		<tr>
			<td width="8%"></td>
			<td width="84%">
				<table width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td width="25%"></td>
						<td width="50%">
							<table class="sst-letter-contact" cellpadding="0" cellspacing="0">
								<tr>
									<td width="25%" style="padding: 3px;"><span>Telefon</span></td>
									<td width="5%" style="padding: 3px;"><span>:</span></td>
									<td width="70%" style="padding: 3px;"><span>03-83232100 / 1-300-888-500</span></td>
								</tr>
								<tr>
									<td style="padding: 3px;"><span>Faksimile</span></td>
									<td style="padding: 3px;"><span>:</span></td>
									<td style="padding: 3px;"><span>03-88824911</span></td>
								</tr>
								<tr>
									<td style="padding: 3px;"><span>Laman Web</span></td>
									<td style="padding: 3px;"><span>:</span></td>
									<td style="padding: 3px;"><span>https://www.mysst.customs.gov.my</span></td>
								</tr>
								<tr>
									<td style="padding: 3px;"><span>E-Mel</span></td>
									<td style="padding: 3px;"><span>:</span></td>
									<td style="padding: 3px;"><span>ccc@customs.gov.my</span></td>
								</tr>
							</table>
						</td>
						<td width="25%"></td>
					</tr>
				</table>
			</td>
			<td width="8%"></td>
		</tr>
	</table>

	<table>
		<tr>
			<td width="8%"></td>
			<td width="84%">
				<b>______________________________________________________________________________________________________________</b>
			</td>
			<td width="8%"></td>
		</tr>
		<tr>
			<td width="8%"></td>
			<td width="84%">
				<table>
					<tr>
						<td width="60%">
							$employerAddressWithName$
						</td>
						<td width="40%">
							<table>
								<tr>
									<td width="40%" style="padding: 1px;">Ruj Kami</td>
									<td width="5%" style="padding: 1px;">:</td>
									<td width="55%" style="padding: 1px;">$refNoOur$</td>
								</tr>
								<tr>
									<td style="padding: 1px;">Tarikh</td>
									<td style="padding: 1px;">:</td>
									<td style="padding: 1px;">$date$</td>
								</tr>
								<tr>
									<td style="padding: 1px;">No. SMK SST</td>
									<td style="padding: 1px;">:</td>
									<td style="padding: 1px;">$refNoYour$</td>
								</tr>
								<tr>
									<td style="padding: 1px;">Stesen Mengawal</td>
									<td style="padding: 1px;">:</td>
									<td style="padding: 1px;">$branchOffice$</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
			<td width="8%"></td>
		</tr>
	</table>

	<table>
		<tr>
			<td width="8%"></td>
			<td width="84%">
				<span>Tuan/Puan,</span><br><br>
				<span>KELULUSAN PENDAFTARAN DI BAWAH SEKSYEN 13 AKTA CUKAI JUALAN 2018</span><br><br>
				<span>Perkara di atas dirujuk.</span><br><br>
				<span>Tuan/Puan telah didaftarkan di bawah Akta Cukai Jualan 2018 dan maklumat akaun pendaftaran tuan adalah seperti berikut:</span>
			</td>
			<td width="8%"></td>
		</tr>
		<tr>
			<td></td>
			<td>
				<table>
					<tr>
						<td width="63%" style="padding: 1px; padding-left: 25px;">Tarikh Permohonan</td>
						<td width="2%" style="padding: 1px;">:</td>
						<td width="35%" style="padding: 1px;">$requestDate$</td>
					</tr>
					<tr>
						<td style="padding: 1px; padding-left: 25px;">Tarikh Kuatkuasa Pendaftaran</td>
						<td style="padding: 1px;">:</td>
						<td style="padding: 1px;">$approvalDate$</td>
					</tr>
					<tr>
						<td style="padding: 1px; padding-left: 25px;">Asas Perakaunan</td>
						<td style="padding: 1px;">:</td>
						<td style="padding: 1px;">$basicAcc$</td>
					</tr>
					<tr>
						<td style="padding: 1px; padding-left: 25px;">Tempoh Bercukai</td>
						<td style="padding: 1px;">:</td>
						<td style="padding: 1px;">$taxPeriod$</td>
					</tr>
					<tr>
						<td style="padding: 1px; padding-left: 25px;">Tempoh Bercukai Pertama</td>
						<td style="padding: 1px;">:</td>
						<td style="padding: 1px;">$firstTaxPeriod$</td>
					</tr>
					<tr>
						<td style="padding: 1px; padding-left: 25px;">Tarikh Akhir Mengemukakan Penyata dan Bayaran</td>
						<td style="padding: 1px;">:</td>
						<td style="padding: 1px;">$lastPaymentDate$</td>
					</tr>
					<tr>
						<td style="padding: 1px; padding-left: 25px;">Tempoh Bercukai Kedua</td>
						<td style="padding: 1px;">:</td>
						<td style="padding: 1px;">$secondTaxPeriod$</td>
					</tr>
					<tr>
						<td style="padding: 1px; padding-left: 25px;">Tarikh Akhir Mengemukakan Penyata dan Bayaran</td>
						<td style="padding: 1px;">:</td>
						<td style="padding: 1px;">$lastPaymentDate2$</td>
					</tr>
					<tr>
						<td style="padding: 1px; padding-left: 25px;">Tempoh Bercukai Berikutnya</td>
						<td style="padding: 1px;">:</td>
						<td style="padding: 1px;">$nextTaxPeriod$</td>
					</tr>
					<tr>
						<td style="padding: 1px; padding-left: 25px;">Tarikh Akhir Mengemukakan Penyata dan Bayaran</td>
						<td style="padding: 1px;">:</td>
						<td style="padding: 1px;">$lastPaymentDate3$</td>
					</tr>
					<tr>
						<td style="padding: 1px; padding-left: 25px;"></td>
						<td style="padding: 1px;">:</td>
						<td style="padding: 1px;">setelah tamat tempoh bercukai</td>
					</tr>
					<tr>
						<td width="30%" style="padding: 1px; padding-left: 25px; padding-top: 25px;">Stesen Mengawal &amp; Alamat</td>
						<td width="2%" style="padding: 1px; padding-top: 25px;">:</td>
						<td width="68%" style="padding: 1px; padding-top: 25px;">
							$branchOfficeAddress$
						</td>
					</tr>
				</table>
			</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>
				<span>
					Sebagai orang yang telah didaftarkan di bawah Akta Cukai Jualan 2018 tuan/puan dikehendaki mematuhi kehendak Akta Cukai Perkhidmatan 2018, Peraturan- Peraturan Cukai Perkhidmatan 2018 dan mematuhi tanggungjawab yang ditetapkan oleh Ketua Pengarah seperti di LAMPIRAN I.
				</span>

				<br><br>

				<span>
					Tuan/Puan boleh melayari laman web MySST di capaian www.mysst.customs.gov.my atau menghubungi pejabat ini seperti maklumat yang tertera di atas untuk keterangan lanjut.
				</span>

				<br><br>

				<span>
					Sekian, terima kasih.
				</span>

				<br><br>

				<span>
					"BERKHIDMAT UNTUK NEGARA"
				</span>

				<br><br>

				<span>
					Ketua Pengarah Kastam<br>
					Jabatan Kastam Diraja Malaysia
				</span>
			</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td align="center">
				<span>
					Cetakan komputer ini tidak memerlukan tandatangan
				</span>
			</td>
			<td></td>
		</tr>
	</table>

	<table style="padding-top: 30px;">
		<tr>
			<td width="8%"></td>
			<td width="84%">
				<table>
					<tr>
						<td align="right">
							<b>LAMPIRAN I</b>
						</td>
					</tr>
					<tr>
						<td>
							<b>Tanggungjawab orang berdaftar Cukai Perkhidmatan</b>
						</td>
					</tr>
					<tr style="padding-bottom: 0px; margin-bottom: 0px;">
						<td>
							<b>Bila Cukai dikenakan</b>
						</td>
					</tr>
					<tr style="padding-top: 0px; margin-top: 0px;">
						<td style="padding-left: 20px;">
							• Apabila orang bercukai telah didaftarkan di bawah Seksyen 13 Akta Cukai Perkhidmatan 2018, orang berdaftar hendaklah mengenakan cukai perkhidmatan ke atas semua Perkhidmatan barang bercukai dibekalkan bermula dari tarikh kuatkuasa pendaftaran seperti yang dikehendaki di bawah Akta Cukai Perkhidmatan 2018.
						</td>
					</tr>
					<tr style="padding-bottom: 0px; margin-bottom: 0px;">
						<td>
							<b>Pengeluaran Invois</b>
						</td>
					</tr>
					<tr style="padding-top: 0px; margin-top: 0px;padding-bottom: 0px; margin-bottom: 0px;">
						<td style="padding-left: 20px;">
							• Orang berdaftar dikehendaki mengeluarkan invois dalam Bahasa Kebangsaan atau dalam Bahasa Inggeris yang mengandungi butir-butir seperti berikut kepada pelanggan:
						</td>
					</tr>
					<tr style="padding-top: 0px; margin-top: 0px;">
						<td style="padding-left: 30px;">
							i. no siri invois;<br>
							ii. tarikh invois;<br>
							iii. nama, alamat dan nombor pengenalan pengilang berdaftar;<br>
							iv. nama dan alamat orang yang kepadanya barang-barang kena cukai dijual;<br>
							v. kuantiti dan deskripsi barang-barang;<br>
							vi. apa-apa diskaun yang ditawarkan;<br>
							vii. bagi setiap perihalan, bezakan jenis barang- barang, kuantiti dan amaun yang kena dibayar tidak termasuk cukai.<br>
							viii. jumlah amaun yang kena dibayar tidak termasuk cukai, kadar cukai, dan jumlah cukai yang dikenakan ditunjukkan sebagai suatu amaun yang berasingan atau jumlah amaun yang kena dibayar termasuk jumlah cukai yang boleh dikenakan;<br>
							ix. apa- apa amaun yang disebut dalam mata wang selain ringgit hendaklah juga dinyatakan dalam ringgit pada kadar pertukaran jualan yang dipakai di Malaysia pada masa pengilangan.
						</td>
					</tr>
					<tr>
						<td style="padding-left: 20px;">
							• Tiada apa- apa perubahan boleh dibuat atas invois dan salinannya. Jika berlaku kesilapan invois dan salinannya hendaklah disifatkan sebagai batal dan ditandakan dengan jelas perkataan "DIBATALKAN". Invois- invois yang telah dibatalkan bersama semula salinannya hendaklah dikemukakan untuk pemeriksaan bila dikehendaki.<br>
							• Jika sesuatu invois yang telah dikeluarkan hilang, Ketua Pengarah Kastam mempunyai kuasa untuk menganggarkan cukai yang patut dibayar.
						</td>
					</tr>
					<tr style="padding-bottom: 0px; margin-bottom: 0px;">
						<td>
							<b>Pengemukakan Penyata Cukai dan Pembayaran Cukai</b>
						</td>
					</tr>
					<tr style="padding-top: 0px; margin-top: 0px;">
						<td style="padding-left: 20px;">
							• Penyata Cukai dan Pembayaran Cukai hendaklah dikemukakan dalam borang SST- 02 bagi setiap tempoh bercukai yang ditetapkan selewat- lewatnya pada hari terakhir bulan berikutnya untuk pembayaran cukai yang perlu dibayar kepada jabatan ini. Jika tiada pembayaran cukai bagi sesuatu tempoh bercukai berkaitan Penyata <b>NIL RETURN</b> perlu juga dikemukakan.<br>
							• Penyata SST- 02 dan Pembayaran Cukai hendaklah dikemukakan secara elektronik melalui Portal www.mysst.customs.gov.my dari jam 7.00 pagi hingga 11.00 malam.<br>
							• Pengemukaan Penyata SST- 02 dan pembayaran cukai boleh juga dibuat secara pos dengan mengemukakan bank draf atau cek atas nama <b>Ketua Pengarah Kastam Malaysia</b> kepada Pusat Pemprosesan Kastam seperti alamat di berikut;
						</td>
					</tr>
					<tr>
						<td align="center">
							<span>
								PUSAT PEMPROSESAN KASTAM (CPC)<br>
								ARAS 1, BLOK A, KOMPLEKS KASTAM<br>
								WPKL, JALAN SS 6/3, KELANA JAYA<br>
								47301 PETALING JAYA SELANGOR
							</span>
						</td>
					</tr>
					<tr style="padding-bottom: 0px; margin-bottom: 0px;">
						<td>
							<b>Asas Perakaunan</b>
						</td>
					</tr>
					<tr style="padding-top: 0px; margin-top: 0px;">
						<td style="padding-left: 20px;">
							• Setiap orang kena cukai hendaklah mengakaunkan cukai atas asas akruan mengikut masa pembekalan di bawah Akta Cukai Perkhidmatan 2018.
						</td>
					</tr>
					<tr style="padding-bottom: 0px; margin-bottom: 0px;">
						<td>
							<b>Seorang yang berdaftar perlu memaklumkan secara bertulis kepada pegawai kanan kastam untuk pindaan apabila berlaku:</b>
						</td>
					</tr>
					<tr style="padding-top: 0px; margin-top: 0px;">
						<td style="padding-left: 20px;">
							• Perubahan nama syarikat / perniagaan;<br>
							• Perubahan alamat perniagaan;<br>
							• Perubahan jenis/ status perniagaan;<br>
							• Perubahan pengarah, pemilik, rakan kongsi, pemegang jawatan utama;<br>
							• Pengambil alihan di bawah Usaha Berterusan; atau<br>
							• Perubahan alamat e-mel
						</td>
					</tr>
					<tr style="padding-bottom: 0px; margin-bottom: 0px;">
						<td>
							<b>Pindaan maklumat pendaftaran lain</b>
						</td>
					</tr>
					<tr style="padding-top: 0px; margin-top: 0px;">
						<td style="padding-left: 20px;">
							• Syarikat hendaklah mengemaskini senarai barang siap dan senarai bahan mentah yang ingin dipohon pengecualian daripada cukai di dalam akaun pendaftaran melalui daftar masuk portal MySST.<br>
							• Syarikat boleh membuat sendiri pindaan kepada maklumat- maklumat lain dalam pendaftaran secara atas talian.
						</td>
					</tr>
					<tr style="padding-bottom: 0px; margin-bottom: 0px;">
						<td>
							<b>Pembatalan pendaftaran</b>
						</td>
					</tr>
					<tr style="padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
						<td style="padding-left: 20px;">
							• Seorang orang berdaftar boleh memohon untuk membatal pendaftaran Cukai Perkhidmatan sekiranya;
						</td>
					</tr>
					<tr style="padding-top: 0px; margin-top: 0px;">
						<td style="padding-left: 30px;">
							o tidak lagi mengilang barang bercukai;<br>
							o kelulusan pendaftaran digunakan oleh syarikat lain;<br>
							o pertukaran hak milik syarikat/perniagaan;<br>
							o pengilang berdaftar diletakkan dibawah penerimaan atau likuidasi; atau<br>
							o pengilang telah diberi arahan dan didaftarkan oleh Ketua Pengarah Kastam sebagai orang kena cukai tunggal.
						</td>
					</tr>
					<tr style="padding-top: 0px; margin-top: 0px;">
						<td style="padding-left: 20px;">
							• Ketua Pengarah mempunyai kuasa untuk membatalkan mana- mana pendaftaran Cukai Perkhidmatan sekiranya orang berdaftar gagal mematuhi apa- apa peruntukkan di bawah Akta Cukai Perkhidmatan 2018.
						</td>
					</tr>
					<tr style="padding-bottom: 0px; margin-bottom: 0px;">
						<td>
							<b>Penyimpanan Rekod</b>
						</td>
					</tr>
					<tr style="padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
						<td style="padding-left: 20px;">
							• Semua rekod yang berkaitan dengan Cukai Perkhidmatan perlu disimpan di permis yang didaftarkan dalam Malaysia selama sekurang-kurangnya <b>tujuh (7) tahun</b>.<br>
							• Pihak Kastam berhak menyemak semua rekod yang berkaitan dengan Cukai Perkhidmatan sekiranya diarahkan.
						</td>
					</tr>
				</table>
			</td>
			<td width="8%"></td>
		</tr>
	</table>

</body>
</html>